@import 'all-mixins';

.swiper {
    // width: 600px;
    // height: 300px;
    img {
      max-height: 300px;
    }
  }
  
 

  .hero--front {
    background-position: top center; 
  }  
    
   
h1 { 
  font-size: rem(15);    
  color: purple!important;   
  @include divColorOverlay()    
}    
